# Исключить каталоги __pycache__ и файлы .pyc, .pyo
__pycache__/
*.pyc
*.pyo

# Исключить файлы журнала, временные файлы и кэш
#*.log
#*.tmp
#*.cache
#*.pytest_cache/

# Исключить файлы конфигурации среды IDE
.vscode/
.idea/

# Исключить тестовые результаты
*.coverage
coverage.xml
htmlcov/

# Исключить виртуальные окружения Python
.venv/
env/
venv/

# Исключить Dockerfile и файлы сборки, если они не нужны в контейнере
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.override.yml

## Исключить файлы среды и переменных окружения
#*.env
#!test.env
# Исключить архивы, бэкапы и бинарные файлы
*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.bak
*.swp

# Исключить файлы и папки, которые могут быть результатом сборки
build/
dist/
*.egg-info/
.eggs/
