pydantic==2.7.1
pydantic-settings==2.3.4
fastapi==0.111.0
uvicorn==0.30.6
redis==5.0.8
sqlmodel==0.0.21
asyncpg==0.29.0
greenlet
alembic==1.13.2
itsdangerous==2.2.0
passlib[bcrypt]
pyjwt[crypto]==2.9.0
psycopg2